/*FONT*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Share+Tech+Mono');

@font-face {
 font-family: 'icomoon';
 src: url('fonts/icomoon.eot');
 font-weight: normal;
 font-style: normal;
 }

.slideElement, .navSlideElement, .headerVertSlide, .placeholder, h1, h2, h3 {
    font-family: 'Share Tech Mono', monospace;
}
/*Global Styles*/
/*-------------------------------------------------------------------*/
html {
}

body {
    font-family: 'PT Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*COLOR classes*/
.codeBG {
    background: rgb(255, 109, 0);
}

.codeFC {
    color: rgb(255, 109, 0);
}

.drawBG {
    background-color: rgb(65, 117, 222);
}

.drawFC {
    color: rgb(65, 117, 222);
}

.designBG {
    background-color: rgb(158, 229, 133);
}

.designFC {
    color: rgb(158, 229, 133);
}

.musicBG{
    background-color: rgb(234, 37, 37);
}

.musicFC {
    color: rgb(234, 37, 37);
}


/*Header and Footer Styles*/
/*-------------------------------------------------------------------*/

/*    HEADER ONLY*/


/*    FOOTER ONLY*/
footer {
    background: rgba(255, 109, 0, 1);
    padding: 100px;
    color: white;
}

.socialMedia {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    margin: 0 0 10px 0;
    display: inline-block;
}

.socialMedia li {
    display: inline-block;
    padding-right: 10px;
}

.footerLinks a {
    color: white;
    display: inline-block;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
    .footerLinks a:hover {
        color: #ebebeb;
    }

.footerLinks a:hover + .linkSlide {
    opacity: 1;
    -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);
}

.linkSlide {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(60px);
        -ms-transform: translateY(60px);
            transform: translateY(60px);
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


/*Body Styles for index.html*/
/*-------------------------------------------------------------------*/

/*GENERAL BODY STYLES*/
.fullPage {
    height: 100vh;
}

.fullPage-min {
    min-height: 100vh;
}

.page {
    height: 100%;
    padding: 110px 0;
}

.page div {
    height: 100%;
}

.sectionBreakContainer {
    position: relative;
    margin-bottom: 40px;
}

.sectionBreak {
    position: absolute;
    border-top: 1px solid black;
    width: 200px;
    right: 8%;
}

    .code .sectionBreak {
        border-top-color: rgb(255, 109, 0);
    }

    .drawing .sectionBreak {
        border-top-color: rgb(65, 117, 222);
    }

    .design .sectionBreak {
        border-top-color: rgb(158, 229, 133);
    }

    .music .sectionBreak {
        border-top-color: rgb(234, 37, 37);
    }

/*STYLING FOR THE IMAGE GRIDS*/
.portfolioSection {
    max-width: 100%;
    position: relative;
}
    
    .portfolioSection img {
        width: 100%;
        height: auto;
/*        padding: 4px;  might come back to this */
    }

    .gridImgOverlay {
        position: relative;
    }

    .img-active {
        -webkit-box-shadow: 0 20px 30px -4px rgba(0, 0, 0, 0.5);
                box-shadow: 0 20px 30px -4px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1,1);
            -ms-transform: scale(1,1);
                transform: scale(1,1);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .imgBackground {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
        .imgBackground-active {
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }
    
    .imgOverlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
        .imgOverlay-active {
            -webkit-transform: rotate(45deg) scale(0);
                -ms-transform: rotate(45deg) scale(0);
                    transform: rotate(45deg) scale(0);
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }

.portfolioArticle {
    position: relative;
    vertical-align: top;
    width: 22%;
    display: inline-block;
    margin-left: 10%;
}


/*    this next block selects the first of every two and shifts it over, then the second of every two and shifts that over into the*/
/*    same position as the first block. This makes it stay in the same spot for every picture*/
    .portfolioArticle:nth-child(2n+1) .info-active {
        left: 0;
    }

    .portfolioArticle:nth-child(2n+2) .info-active {
        left: -147%;
    }

        #code .portfolioArticle:nth-child(2n+2) .info-active {
            left: 0%;
        }

    .portfolioArticle:nth-child(2n+3) .info-active {
        left: -294%;
    }

        #code .portfolioArticle:nth-child(2n+3) .info-active {
            left: -147%;
        }

    .portfolioArticle:nth-child(2n+4) .info-active {
        left: 0;
    }
        #code .portfolioArticle:nth-child(2n+4) .info-active {
            left: -147%;
        }

.info {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0 10%;
    float: right;
    opacity: 0;
    height: 0;
    font-size: 0;
}

.info .description {
    height: 100px;
}

    .info-active {
        position: relative;
        width: 220%;
        padding: 3em 0;
        margin: 0 10%;
        float: left;
        height: auto;
        font-size: 100%;
        opacity: 1;
        -webkit-transition: 0.5s opacity, 0.5s height;
        -o-transition: 0.5s opacity, 0.5s height;
        transition: 0.5s opacity, 0.5s height;
    }

    .info-active h1 {
        margin-bottom: .5em;
    }

    .info-active p, 
    .info-active ul {
        margin-bottom: 2em;
        line-height: 140%; /* probably going to have to change these line height values to something usable */
    }

.info-active .moreBtn {
    display: block;
    width: 100px;
    margin-top: 0.4em;
    padding: 0.4em;
    text-align: center;
    font-size: 1.1em;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.5s background-color, 0.5s border;
    -o-transition: 0.5s background-color, 0.5s border;
    transition: 0.5s background-color, 0.5s border;
}
    .moreBtn:hover {
        background: rgba(255, 109, 0, 1);
        border: 1px solid white;
        color: white;
    }

    .drawBtn:hover {
        background: rgba(65, 117, 222, 1);
    }

    .designBtn:hover {
        background: rgb(158, 229, 133);
    }

    .musicBtn:hover {
        background: rgb(234, 37, 37);
    }

.articleDescription {
    margin-top: 20px;
}

.mobileArticleDescriptionDiv {
    position: relative;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-top: 1px;
}

.descriptionBorder {
    position: absolute;
    margin-left: -20px;
    margin-right: -20px;
    height: 50%;
    width: 50%;
}

.descriptionBorder_piece {
    position: absolute;
    margin-left: -20px;
    margin-right: -20px;
    height: 50%;
    width: 50%;
    border-top: 1px solid;
    border-left: 1px solid;
    left: 0;
    top: 0;
    z-index: -1;
}

.codeDB {
    border-right: 1px solid rgb(255, 109, 0);
    border-top: 1px solid rgb(255, 109, 0);
    top: 0;
    right: 0;
}

.drawDB {
    border-right: 1px solid rgb(65, 117, 222);
    border-bottom: 1px solid rgb(65, 117, 222);
    bottom: 0;
    right: 0;
}

.designDB {
    border-top: 1px solid rgb(158, 229, 133);
    border-left: 1px solid rgb(158, 229, 133);
    left: 0;
    top: 0;
}

.playDB {
    border-left: 1px solid rgb(234, 37, 37);
    border-bottom: 1px solid rgb(234, 37, 37);
    bottom: 0;
    left: 0;
}

/*extra styling for the different grid patterns*/


/*image overlay colors */
.codeImgOverlay {
    background: rgb(255, 109, 0);
    opacity: 0.2;
}

.codeImgBackground {
    background: rgb(255, 109, 0);
    opacity: 0.2;
}

.drawImgOverlay {
    background-color: rgb(65, 117, 222);
    opacity: 0.2;
}

.drawImgBackground {
    background: rgb(65, 117, 222);
    opacity: 0.2;
}

.designImgOverlay {
    background-color: rgb(158, 229, 133);
    opacity: 0.2;
}

.designImgBackground {
    background: rgb(158, 229, 133);
    opacity: 0.2;
}

.musicImgOverlay {
    background-color: rgb(234, 37, 37);
    opacity: 0.2;
}

.musicImgBackground {
    background: rgb(234, 37, 37);
    opacity: 0.2;
}

/*the little lines by the description text */


/*FULL PAGE VIDEO STYLES*/
#video {
    height: 100%;
}

.placeholder {
    color: rgb(255, 109, 0);
    padding-top: 50vh;
    width: 50%;
    margin: 0 auto; 
}

/*_piece.html styles*/
/*----------------------------------------------------*/

#piece {
}

.technology .fa {
    padding: 10px 10px;
}

.scrollParent {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
}

.scrollChild {
    height: 100%;
    width: calc(100% + 17px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.leftPanel {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
    .quickLinkBox {
        text-align: right;
    }

    .picList {
        position: relative;
        display: inline-block;
        text-align: right;
        padding-top: 15px;
/*        padding-right: 10px;*/
    }

    .picList li {
        position: relative;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .piclist a {
        width: 150px;
        height: 150px;
    }

    .picList img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }

.scrollPicList iframe {
    width: 100%;
    height: 500px;
}

.scrollPicList .scrollImg {
    margin-bottom: 10px;
}

    .technology {
        display: inline-block;
        vertical-align: top;
        padding-top: 15px;
        padding-right: 30px;
    }

    .techLi {
        position: relative;
    }
        .techLi:hover > .techSlide {
            opacity: 1;
            padding-right: 5px;
            -webkit-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                    transform: translateX(-100%);
        }

    .techSlide {
        position: absolute;
        top: calc(50% - 1em);
        opacity: 0;
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .pieceDesc {
       padding-left: 50%; 
    }

.rightPanel {
    background-color: white;
}

    .scrollImg {
        max-height: 100vh;
        width: auto;
    }

.pieceNav {
    position: absolute;
    padding: 10px;
    width: 150px;
}

/*media queries*/

/*main body quieries*/

@media screen and (max-width: 640px) {
    body {
        font-size: 0.9rem;
    }
}

/*piece.html quieries */

@media screen and (max-width: 1024px) {
    .scrollParent, .scrollChild {
        overflow-x: visible;
        overflow-y: visible;
        width: 100%;
    }
    
    #piece, #piece .fullPage {
        height: 100%; 
    }
    
    .scrollPicList {
        text-align: right;
    }
    
    .picList li {
        height: 100px;
        width: 100px;
    }
}